<template>
    <div>
        <main class="mt-16 mx-auto lg:w-1/3 md:1/2 w-full">
            <div class="w-full max-w-md">
                <form class="bg-white shadow-lg rounded px-12 pt-6 pb-8 mb-4" @submit.prevent="submit">
                    <div class="text-gray-800 text-2xl flex justify-center border-b-2 py-2 mb-4">Connexion</div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-normal mb-2" for="email">Email</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" v-model="form.email" name="email" id="email" placeholder="Email" required="" autocomplete="username" autofocus="">
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-normal mb-2" for="password">Mot de passe</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" v-model="form.password" name="password" id="password" placeholder="Password" required="" autocomplete="current-password">
                    </div>
                    <div class="flex items-center justify-between">
                        <button class="px-4 py-2 rounded text-white inline-block shadow-lg bg-blue-500 hover:bg-blue-600 focus:bg-blue-700" type="submit">Se connecter</button>
                    </div>

                </form>
            </div>
        </main>
    </div>
</template>
<script>
export default {
    head() {
        return {
            title: 'Connexion'
        }
    },

    data() {
        return {
            form: {
                email: '',
                password: ''
            }
        }
    },

    mounted() {
        console.log(this.form);
        console.log(this.$router)
    },

    methods: {
        async submit() {
            try {
                await axios.post('http://localhost:8080/api/auth/login', this.form).then(() => {
                    this.$router.push({ name: 'home'})
                });
                console.log(this.form);
            } catch(e) {
                console.log(e)
            }

        }
    }
}
</script>
